<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2011 - 2024, Zingaya, Inc. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

</manifest>
